.smallcard-container {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 10px;
    height: 60px;
}

.smallcard-container > img {
    width: 30px;
    margin-right: 10px;
}