body{
    margin: 0;
    font-size: 22px;
    color: white;
}

.container-flex{
    display: flex;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2ECC40;
    width: 20%;
    height: 50px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFDC00;
    width: 80%;
    height: 50px;
}

.content1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F012BE;
    width: 100%;
    height: 500px;
}

.content2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0074D9;
    width: 50%;
    height: 200px;
}

.white{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 25%;
    height: 200px;
}

.image-extra{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF4136;
    width: 100%;
    height: 100px;
}

.extra{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #01FF70;
    width: 100%;
    height: 100px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B10DC9;
    width: 100%;
    height: 50px;
}