*{
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}
p{
    text-align: center;
    font-size: 20px;
}
main{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 120px 1fr;
    grid-template-areas: 
    "ent ent ent ent ent ent ent"
    "seg ter qua qui sex sab dom";
}
#entrada{
    display: grid;
    grid-area: ent;
}
#segunda{
    display: flex;
    flex-direction: column;
    grid-area: seg;
    background-color: #ffe8a3;
}
#terca{
    display: flex;
    flex-direction: column;
    grid-area: ter;
    background-color: #fff5d6;
}
#quarta{
    display: flex;
    flex-direction: column;
    grid-area: qua;
    background-color: #ffe8a3;
}
#quinta{
    display: flex;
    flex-direction: column;
    grid-area: qui;
    background-color: #fff5d6;
}
#sexta{
    display: flex;
    flex-direction: column;
    grid-area: sex;
    background-color: #ffe8a3;
}
#sabado{
    display: flex;
    flex-direction: column;
    grid-area: sab;
    background-color: #fff5d6;
}
#domingo{
    display: flex;
    flex-direction: column;
    grid-area: dom;
    background-color: #ffe8a3;
}

/* Desafio 5 */
@media screen and (max-width: 800px){
    main{
        grid-template-columns: 1fr;
        grid-template-rows: 120px repeat(7, 1fr);
        grid-template-areas: "ent" "seg" "ter" "qua" "qui" "sex" "sab" "dom";
    }
}