*{
    margin: 0;
    padding: 0;
}
/* width para a imagem não vazar; mas está distorcendo */
img{
    width: 100%;
    max-height: 80%;
}
/* As medidas estão meio random, mas esse fds eu vou pesquisar sobre os layouts */
main{
    display: grid;
    width: 100vw;
    max-width: 1600px;
    height: 100vh;
    max-height: 1200px;
    row-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px 300px 300px 1fr 40px;
    grid-template-areas: 
    "h  h  h  b"
    "v1 v2 v3 v4"
    "v5 v6 v7 v8"
    ".  .  .  ."
    "f  f  f  f";
/* h = header, b = busca, v# os quadrados dos videos, . = vazio, f = footer */
}
header{
    display: grid;
    background-color: red;
    padding-left: 20px;
    font-size: 36px;
    place-items: center start;
    grid-area: h;
}
#busca{
    display: grid;
    background-color: red;
    place-items: center;
    grid-area: b;
}
#input-busca{
    width: 90%;
    height: 30px;
    font-size: 24px;
    text-align: left;
}
footer{
    display: grid;
    background-color: red;
    font-size: 28px;
    place-items: center;
    grid-area: f;
}
/* os quadrados dos videos são articles */
article{
    display: grid;
    background-color: green;
    border: 2px solid black;
    margin-left: 10px;
    cursor: pointer;
    font-size: 24px;
    place-items: end center;
}
article:nth-of-type(1){
    grid-area: v1;
}
article:nth-of-type(2){
    grid-area: v2;
}
article:nth-of-type(3){
    grid-area: v3;
}
article:nth-of-type(4){
    grid-area: v4;
/* margin para não colar, deve haver um jeito melhor. aceito sugestões! */
    margin-right: 10px;
}
article:nth-of-type(5){
    grid-area: v5;
}
article:nth-of-type(6){
    grid-area: v6;
}
article:nth-of-type(7){
    grid-area: v7;
}
article:nth-of-type(8){
    grid-area: v8;
/* not my proudest moment */
    margin-right: 10px;
}
@media screen and (max-width: 380px){
    main{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 80px repeat(8,200px) 40px;
        grid-template-areas: 
        "h  b"
        "v1 v1"
        "v2 v2"
        "v3 v3"
        "v4 v4"
        "v5 v5"
        "v6 v6"
        "v7 v7"
        "v8 v8"
        "f  f";
    }
    footer{
        font-size: 12px;
        font-weight: bold;
    }
    article{
        margin-right: 10px;
    }
}