* {
    margin: 0;
    padding: 0;
    text-align: center;
}

img{
    width: 100%;
    max-width: 400px;
    max-height: 80%;
}

main{
    height: 100vh;
    max-height: 860px;
    width: 100vw;
    max-width: 1600px;
    row-gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px 300px 300px 40px;
    grid-template-areas: 
    "h  h  h  b"
    "v1 v2 v3 v4"
    "v5 v6 v7 v8"
    "f  f  f  f";
}

header{
    font-size: 36px;
    padding-left: 20px;
    display: grid;
    grid-area: h;
    align-items: center;
    text-align: left;
    background-color: red;
}

footer{
    font-size: 28px;
    display: grid;
    grid-area: f;
    align-items: center;
    background-color: red;
}

#busca{
    display: grid;
    grid-area: b;
    align-items: center;
    background-color: red;
}

#input-busca{
    width: 85%;
    height: 30px;
    font-size: 24px;
    text-align: left;
}

article{
    cursor: pointer;
    font-size: 24px;
    margin-left: 10px;
    display: grid;
    align-items: flex-end;
    justify-content: center;
    border: 2px solid black;
    background-color: green;
}

article:nth-of-type(1){
    grid-area: v1;
}

article:nth-of-type(2){
    grid-area: v2;
}

article:nth-of-type(3){
    grid-area: v3;
}

article:nth-of-type(4){
    grid-area: v4;
    margin-right: 10px;
}

article:nth-of-type(5){
    grid-area: v5;
}

article:nth-of-type(6){
    grid-area: v6;
}

article:nth-of-type(7){
    grid-area: v7;
}

article:nth-of-type(8){
    grid-area: v8;
    margin-right: 10px;
}

@media screen and (max-width: 380px){
    main{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 80px 200px 200px 200px 200px 200px 200px 200px 200px 40px;
        grid-template-areas: 
        "h   b"
        "v1 v1"
        "v2 v2"
        "v3 v3"
        "v4 v4"
        "v5 v5"
        "v6 v6"
        "v7 v7"
        "v8 v8"
        "f  f"
        ;
    }

    header{
        font-size: 28px;
    }

    article{
        width: 93vw;
    }
}