* {
    margin: 0;
    padding: 0;
    text-align: center;
}
/* As medidas estão meio random, mas esse fds eu vou pesquisar sobre os layouts */
main{
    height: 100vh;
    width: 100vw;
    max-width: 1600px;
    row-gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px 60vh 1fr 40px;
    grid-template-areas: 
    "h h h b"
    "v v v v"
    "e e e e"
    "f f f f";
/* h = header, b = busca, v = video, e = vazio(empty), f = footer */
}
header{
    text-align: left;
    font-size: 36px;
    padding-left: 20px;
    display: grid;
    grid-area: h;
    align-items: center;
    background-color: red;
}
footer{
    font-size: 28px;
    display: grid;
    grid-area: f;
    align-items: center;
    background-color: red;
}
#busca{
    display: grid;
    grid-area: b;
    align-items: center;
    background-color: red;
}
#input-busca{
    width: 80%;
    height: 30px;
    font-size: 24px;
    text-align: left;
}
article{
    cursor: pointer;
    font-size: 36px;
    margin-right: 10px;
    margin-left: 10px;
    border: 2px solid black;
    display: grid;
    grid-area: v;
    align-items: center;
    justify-content: center;
    background-color: green;
}
video{
    width: 80vw;
}
iframe{
    width: 80vw;
}
@media screen and (max-width: 380px){
    main{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 80px 300px 1fr 40px;
        grid-template-areas: 
        "h b"
        "v v"
        "e e"
        "f f";
    }
    footer{
        font-size: 12px;
        font-weight: bold;
    }
    article{
        font-size: 28px;
    }
    iframe{
        width: 100%;
    }
    video{
        width: 100%;
    }
}