*{
    margin: 0;
    padding: 0;
}
/* As medidas estão meio random, mas esse fds eu vou pesquisar sobre os layouts */
main{
    display: grid;
    width: 100vw;
    max-width: 1600px;
    height: 100vh;
    max-height: 1200px;
    row-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px 60vh 1fr 40px;
    grid-template-areas: 
    "h h h b"
    "v v v v"
    ". . . ."
    "f f f f";
/* h = header, b = busca, v = video, . = vazio, f = footer */
}
header{
    display: grid;
    background-color: red;
    padding-left: 20px;
    font-size: 36px;
    place-items: center start;
    grid-area: h;
}
#busca{
    display: grid;
    background-color: red;
    place-items: center;
    grid-area: b;
}
#input-busca{
    width: 85%;
    height: 30px;
    font-size: 24px;
    text-align: left;
}
footer{
    display: grid;
    background-color: red;
    font-size: 28px;
    place-items: center;
    grid-area: f;
}
article{
    display: grid;
    background-color: green;
    border: 2px solid black;
    margin: 0 10px 0 10px;
    font-size: 36px;
    place-items: center;
    grid-area: v;
}
video{
    width: 80%;
}
iframe{
    width: 80%;
}
@media screen and (max-width: 380px){
    main{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 80px 300px 1fr 40px;
        grid-template-areas: 
        "h b"
        "v v"
        ". ."
        "f f";
    }
    footer{
        font-size: 12px;
        font-weight: bold;
    }
    article{
        font-size: 28px;
    }
    iframe{
        width: 100%;
    }
    video{
        width: 100%;
    }
}